/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn, body section:nth-child(2) a:nth-child(4) {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 1.5em;
  box-shadow: 0 5px 10px #EAE5E0;
  color: #FFF;
  font-size: 1em;
  font-weight: 600;
}

html {
  color: #000;
  font-family: "Roboto";
  font-size: 1em;
  max-width: 1200px;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background-color: #FFF;
  padding: 1em 0;
}
header img {
  width: 60%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F6F6F6;
}
main a > img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

footer {
  align-items: stretch;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
}
footer h2 {
  color: #FFF;
  font-family: "Shrikhand";
  font-size: 1.4em;
  font-style: italic;
  font-weight: 1000;
  margin: 0.7em 1em;
}
footer a {
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.4em 1em;
  text-decoration: none;
}
footer a span {
  margin-right: 0.4em;
}
footer a:nth-child(2) {
  font-weight: 600;
}
footer a:nth-child(3) {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  header img {
    width: 80%;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  main a > img {
    width: 100%;
    height: 200px;
  }
}
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". logo .";
}
header img {
  grid-area: logo;
  justify-self: center;
}

body section:nth-child(2) {
  background-color: #F6F6F6;
  display: flex;
  justify-self: stretch;
  flex-direction: column;
}
body section:nth-child(2) a:nth-child(1) {
  background-color: #EAE5E0;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.8em 0;
  text-decoration: none;
}
body section:nth-child(2) a:nth-child(1) span {
  margin: 0 0.4em;
}
body section:nth-child(2) h1 {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6em;
  font-weight: 600;
  padding: 0.8em 0 0.4em 0;
}
body section:nth-child(2) p {
  align-self: center;
  font-size: 1em;
}
body section:nth-child(2) a:nth-child(4) {
  align-self: center;
  margin: 1.5em 0 2.25em 0;
  padding: 0.8em;
  text-decoration: none;
}
body section:nth-child(3) {
  display: flex;
  justify-self: stretch;
  flex-direction: column;
  margin: 1.5em 0;
}
body section:nth-child(3) h2 {
  align-self: center;
  font-size: 1.4em;
  font-weight: 600;
  padding: 0.8em 0 0.4em 0;
}
body section:nth-child(3) div {
  align-items: center;
  display: flex;
  border-radius: 1.5em;
  background-color: #F6F6F6;
  box-shadow: 0 5px 10px #EAE5E0;
  flex-direction: row;
  font-size: 1em;
  padding: 1.2em 0.4em;
  margin: 0.8em 1.5em;
}
body section:nth-child(3) div span:nth-child(1) {
  border-radius: 50%;
  color: #FFF;
  background-color: #9356DC;
  padding: 0.4em 0.6em;
  position: relative;
  right: 20px;
  align-items: center;
}
body section:nth-child(3) div span:nth-child(2) {
  color: rgba(53, 53, 53, 0.7);
  margin: 0 0.4em;
}
body section:nth-child(3) div span:nth-child(3) {
  margin: 0 0.4em;
}
