/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  color: #000;
  font-family: "Roboto";
  font-size: 1em;
}

header {
  background-color: #FFF;
}

main {
  background-color: #F6F6F6;
}
main a > img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

footer {
  align-items: stretch;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
}
footer h2 {
  color: #FFF;
  font-family: "Shrikhand";
  font-size: 1.4em;
  font-style: italic;
  font-weight: 1000;
  margin: 0.7em 1em;
}
footer a {
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.4em 1em;
  text-decoration: none;
}
footer a span {
  margin-right: 0.4em;
}
footer a:nth-child(2) {
  font-weight: 600;
}
footer a:nth-child(3) {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
  }
  header img {
    align-self: center;
    width: 40%;
  }
  header a {
    font-size: 1em;
    left: 1em;
    position: relative;
    top: 40%;
  }
}
