@use "variables" as v;

// buttons
.btn{
  background: linear-gradient(180deg, v.$secondary-color, v.$primary-color);
  border-radius: v.$border-radius;
  box-shadow: 0 3px 3px darken(v.$bg-localisation, 60%); 
  color: v.$light-text;
  font-size: v.$regular-font-size;
  font-weight: v.$weight;
}

// restaurant card 
.restaurant {
  background-color: v.$bg-card;
  border-radius: v.$border-radius;
  box-shadow: 0 2px 5px v.$bg-localisation;
  color: v.$dark-text;
  display: flex;
  flex-direction: column;
  margin: v.$space-inter-blocks;
  position: relative;
  text-decoration: none;

  img {
    border-top-left-radius: v.$border-radius;
    border-top-right-radius: v.$border-radius;
  }

  div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "title title title heart"
                         "desc desc desc heart";
    align-content: center;
    padding: v.$space-horizontal;

    h3{
      font-size: v.$regular-font-size;
      font-weight: v.$weight;
      grid-area: title;
    }
  
    p {
      font-size: v.$regular-font-size;
      grid-area: desc;
      
    }
  
    span {
      align-self: center;
      font-size: v.$h3-size;
      grid-area: heart;
      justify-self: end;
    }
  }

}

// new alert
.new {
  align-self: flex-end;
  background-color: v.$tertiary-color;
  border-radius: v.$border-new;
  color: v.$new-text;
  font-size: v.$regular-font-size;
  font-weight: v.$weight;
  padding: v.$space-inter-elements;
  position: absolute;
  right: 10%;
  top: 10%;
}

// dish card

.dish{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "h3   h3   h3   h3   h3   h3   .     check"
                       "desc desc desc desc desc desc price check";
  
  h3 {
    grid-area: h3;
  }

  p {
    grid-area: desc;
  }

  span:nth-child(3){
    grid-area: price;
  }

  span:nth-child(4){
    grid-area: check;
  }
}