// Fonts //
@font-face {
  font-family: "Shrikhand";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/shrikhand/Shrikhand-Regular.eot");
  src: url("/fonts/shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/shrikhand/Shrikhand-Regular.woff2") format("woff2"),
       url("/fonts/shrikhand/Shrikhand-Regular.woff") format("woff"),
       url("/fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto/roboto-v20-latin-regular.eot");
  src: url("/fonts/roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), 
       url("/fonts/roboto/roboto-v20-latin-regular.woff2") format("woff2"), 
       url("/fonts/roboto/roboto-v20-latin-regular.woff") format("woff"), 
       url("/fonts/roboto/roboto-v20-latin-regular.ttf") format("truetype"), 
       url("/fonts/roboto/roboto-v20-latin-regular.svg#Roboto") format("svg");
}
