// Variables //
@use "variables" as v;

// Common structural blocks //
html {
  color: v.$dark-text;
  font-family: "Roboto";
  font-size: v.$regular-font-size;
  max-width: v.$computer-screen;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background-color: #FFF;
  padding: 1em 0;

  img {
    width: 60%;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: v.$bg-restaurant;

  a > img{
    width: v.$fig-width;
    height: v.$fig-height;
    object-fit: cover;
  }
}

footer {
  align-items: stretch;
  background-color: v.$bg-footer;
  display: flex;
  flex-direction: column;
  padding: v.$space-inter-blocks 0;

  h2 {
    color: v.$light-text;
    font-family: "Shrikhand";
    font-size: v.$h2-size;
    font-style: italic;
    font-weight: v.$heavy-weight;
    margin: (v.$space-inter-elements + 0.3em) v.$space-horizontal;
  }

  a {
    color: v.$light-text;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    margin: v.$space-inter-elements v.$space-horizontal;
    text-decoration: none;

    span{
      margin-right: v.$space-inter-elements ;
    }
  }

  a:nth-child(2) {
    font-weight: v.$weight;
  }

  a:nth-child(3) {
    font-weight: v.$weight;
  }
}

// mobile //
@media screen and (max-width: v.$mobile-screen) {

  header{

    img{
      width: 80%;
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr;

    a > img{
      width: 100%;
      height: v.$fig-height;
    }
  }

}
