@use "../0_vars/" as *;


header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "nav logo .";

  img{
    grid-area: logo;
    justify-self: center;
  }

  a {
    color: $bg-footer;
    font-size: $h3-size;
    grid-area: nav;
    margin-left: $space-horizontal;
    text-decoration: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-items: center;

  section:nth-child(1) {

    height: $fig-height * 2;
    padding-bottom: $space-inter-blocks;
  
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  
    .title {
      background-color: $bg-restaurant;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      bottom: $fig-height * 0.45;
      display: flex;
      flex-direction: row;
      font-size: $h1-size * 1.2;
      justify-content: space-between;
      padding: $space-horizontal;
      position: relative;

      @media screen and (min-width: $mobile-screen){
        justify-content: space-around;
      }
  
      h1 {
        font-family: "Shrikhand";
        font-style: italic;
        font-weight: $heavy-weight;
      }
    }
  }

  // line on courses' titles
  section > h2 {
    border-bottom: 0.2em solid $tertiary-color;
    width: 50px
  }

  .courses {
    padding: ($space-inter-elements * 1.2)  $space-horizontal;
  }

  & > a{
    align-self: center;
    margin: $space-inter-blocks 0 ($space-inter-blocks * 1.5) 0;
    padding: $space-inter-elements * 2;
    text-decoration: none;
  }

  @media screen and (min-width: $mobile-screen){
        
    align-items: center;

    section:nth-child(1) {  
      width: 100%;
    }

    .courses {
      width: $fw-courses;
    }

  }

}