@use "../0_vars/" as *;

// restaurant card 
.restaurant {
  background-color: $bg-card;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px $bg-localisation;
  color: $dark-text;
  display: flex;
  flex-direction: column;
  margin: $space-inter-blocks;
  position: relative;
  text-decoration: none;

  img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height: $fig-height;
    object-fit: cover;
    width: $fig-width;

    @media screen and (max-width: $mobile-screen){
      width: 100%;
    }
  }

  div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "title title title heart"
                         "desc desc desc heart";
    align-content: center;
    padding: $space-horizontal;

    h3{
      font-size: $regular-font-size;
      font-weight: $weight;
      grid-area: title;
    }
  
    p {
      font-size: $regular-font-size;
      grid-area: desc;
    }
  
    span {
      align-self: center;
      font-size: $h1-size;
      grid-area: heart;
      justify-self: end;
    }
  }

}

// dish card
.dish{
  align-items: stretch;
  background-color: $bg-card;
  box-shadow: 0 2px 5px $bg-localisation;
  border-radius: $border-medium;
  color: $dark-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $space-inter-blocks 0;
  padding-left: $space-horizontal;
  text-decoration: none;

  span:nth-child(1) {
    padding: $space-inter-elements 0;
    padding-top: $space-inter-elements;
    width: 85%;

    h3, p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h3{
      font-weight: $weight;
    }
  }

  // price
  span:nth-child(2){
    align-self: flex-end;
    font-weight: $weight;
    justify-content: flex-end;
    padding-bottom: $space-inter-elements;
    width: 10%;
  }

  // container of check icon
  span:nth-child(3){
    align-items: center;
    background-color: $tertiary-color;
    border-bottom-right-radius: $border-medium - 0.2;
    border-top-right-radius: $border-medium - 0.2;
    color: $light-text;
    display: none;
    overflow: hidden;
    font-size: $h2-size;
    justify-content: center;
  }
}
