@use "../0_vars/" as *;

// Common structural blocks //
html {
  color: $dark-text;
  font-family: "Roboto", sans-serif;
  font-size: $regular-font-size;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background-color: $bg-header;
  padding: $space-header 0;

  img {
    width: 60%;
  }
}

main {
  background-color: $bg-restaurant;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    & > img{
      width: $fig-width;
      height: $fig-height;
      object-fit: cover;
    }
  }
}

footer {
  align-items: stretch;
  background-color: $bg-footer;
  display: flex;
  flex-direction: column;
  padding: $space-inter-blocks 0;

  h2 {
    color: $light-text;
    font-family: "Shrikhand", sans-serif;
    font-size: $h2-size;
    font-style: italic;
    font-weight: $heavy-weight;
    margin: ($space-inter-elements + 0.3em) $space-horizontal;
  }

  a {
    color: $light-text;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    margin: $space-inter-elements $space-horizontal;
    text-decoration: none;

    span{
      margin-right: $space-inter-elements ;
    }
  }

  a:nth-child(2) {
    font-weight: $weight;
  }

  a:nth-child(3) {
    font-weight: $weight;
  }
}

// mobile 
@media screen and (max-width: $mobile-screen) {

  header{

    img{
      width: 80%;
    }
  }

  main {
    a > img{
      width: 100%;
      height: $fig-height;
    }
  }

}
